## DSC3108: DATA MINING AND ANALYTICS PRACTICAL 2 ##

## DATA TRANFORMATION ##

**A. IMPORT EXCEL DATASET USING PANDAS**

In [1]:
#Libraries
import numpy as np #structuring data
import pandas as pd #import and transform data
import seaborn as sn # Generates visuals
import matplotlib as mat #Generates visuals

In [7]:
#Import the dataset and make it a pandas dataframe called "cassava"
cassava=pd.read_excel("Cassava_Yield_Data.xlsx")
#View the dataframe
cassava

,Sesn,locn,block,rep,tillage,ferT,Plants_harvested,No_bigtubers,Weigh_bigtubers,No_mediumtubers,Weight_mediumtubers,No_smalltubers,Weight_smalltubers,Totaltuberno,AV_tubers_Plant,Total_tubweight,plotsize,HEC,TotalWeightperhectare,TotalTuberperHectare
0,2,1,1,1,conv,F2150,28,0,0.0,61,2.5,319,4.7,380,13.571429,7.2,5.3,10000,13584.905660,716981.132075
1,2,1,1,1,conv,F1100,28,0,0.0,110,4.6,260,4.0,370,13.214286,8.6,5.3,10000,16226.415094,698113.207547
2,2,1,1,1,conv,F3200,28,2,0.2,115,5.2,319,4.4,436,15.571429,9.8,5.3,10000,18490.566038,822641.509434
3,2,1,1,1,conv,F5300,28,6,0.7,60,2.7,303,4.8,369,13.178571,8.2,5.3,10000,15471.698113,696226.415094
4,2,1,1,1,conv,F4250,28,3,0.3,82,3.4,332,4.7,417,14.892857,8.4,5.3,10000,15849.056604,786792.452830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2,2,3,3,conv,F1100,19,0,0.0,33,1.0,220,2.1,253,13.315789,3.1,4.2,10000,7380.952381,602380.952381
111,2,2,3,3,conv,F5300,16,0,0.0,22,1.0,204,1.9,226,14.125000,2.9,4.2,10000,6904.761905,538095.238095
112,2,2,3,3,conv,F2150,13,0,0.0,8,0.4,52,1.2,60,4.615385,1.6,4.2,10000,3809.523810,142857.142857
113,2,2,3,3,conv,F4250,20,0,0.0,42,1.9,91,1.8,133,6.650000,3.7,4.2,10000,8809.523810,316666.666667
114,2,2,3,3,conv,F3200,19,0,0.0,47,2.5,202,2.0,249,13.105263,4.5,4.2,10000,10714.285714,592857.142857

**B. Explore dataset**

In [13]:
#Structure of dataset (no of rows and colums)
cassava.shape

(115, 20)

The dataframe has 115 samples, and 20 variables

In [8]:
#Information about dataset
cassava.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sesn                   115 non-null    int64
 1   locn                   115 non-null    int64
 2   block                  115 non-null    int64
 3   rep                    115 non-null    int64
 4   tillage                115 non-null    object
 5   ferT                   115 non-null    object
 6   Plants_harvested       115 non-null    int64
 7   No_bigtubers           115 non-null    int64
 8   Weigh_bigtubers        115 non-null    float64
 9   No_mediumtubers        115 non-null    int64
 10  Weight_mediumtubers    115 non-null    float64
 11  No_smalltubers         115 non-null    int64
 12  Weight_smalltubers     115 non-null    float64
 13  Totaltuberno           115 non-null    int64
 14  AV_tubers_Plant        115 non-null    float64
 15  Total_tubweight        115 non-null    float64
 16  plotsize               115 non-null    float64
 17  HEC                    115 non-null    int64
 18  TotalWeightperhectare  115 non-null    float64
 19  TotalTuberperHectare   115 non-null    float64
dtypes: float64(8), int64(10), object(2)
memory usage: 18.1+ KB

In [12]:
#Data types
cassava.dtypes

Sesn                       int64
locn                       int64
block                      int64
rep                        int64
tillage                   object
ferT                      object
Plants_harvested           int64
No_bigtubers               int64
Weigh_bigtubers          float64
No_mediumtubers            int64
Weight_mediumtubers      float64
No_smalltubers             int64
Weight_smalltubers       float64
Totaltuberno               int64
AV_tubers_Plant          float64
Total_tubweight          float64
plotsize                 float64
HEC                        int64
TotalWeightperhectare    float64
TotalTuberperHectare     float64
dtype: object

Notice that variables like "Sesn", and "locn" have been identified as integers and yet they are categorical

**i) Check for duplicated data**

In [10]:
cassava.duplicated().sum()

0

In [ ]:
#Incase there's duplicated data
cassava.drop_duplicates()
print('Structure of dataframe after deleting duplicates:', cassava.shape)

**ii) Check for missing data**

In [ ]:
#This returns the true/false of each row
cassava.isna().sum()

In [11]:
#This returns the actual number of missing data
cassava.isna().sum()

Sesn                     0
locn                     0
block                    0
rep                      0
tillage                  0
ferT                     0
Plants_harvested         0
No_bigtubers             0
Weigh_bigtubers          0
No_mediumtubers          0
Weight_mediumtubers      0
No_smalltubers           0
Weight_smalltubers       0
Totaltuberno             0
AV_tubers_Plant          0
Total_tubweight          0
plotsize                 0
HEC                      0
TotalWeightperhectare    0
TotalTuberperHectare     0
dtype: int64

**C. DATA DISTRIBUTION**

Note: The data model assumes normal distribution

1. Inspect using visuals
2. Categorical data: Barplots
3.Continuous data: Histograms/boxplots
4.Using Q-Q plots (these show the expected normal distribution versus the reality)
5. Generate statistics
6. Continuous data: Shapiro-Wilk test (3-5000 samples)
7. Continuous and categorical data: Kolmogorov-Smirnov test (>5000 samples)

**i) Transform variables**

In [15]:
#Convert any datatypes that are incorrectly identified e.g. "Sesn" and "locn"
cassava['Sesn'] = cassava['Sesn'].astype('object')
cassava['locn'] = cassava['locn'].astype('object')

#Check data types again
cassava.dtypes

Sesn                      object
locn                      object
block                      int64
rep                        int64
tillage                   object
ferT                      object
Plants_harvested           int64
No_bigtubers               int64
Weigh_bigtubers          float64
No_mediumtubers            int64
Weight_mediumtubers      float64
No_smalltubers             int64
Weight_smalltubers       float64
Totaltuberno               int64
AV_tubers_Plant          float64
Total_tubweight          float64
plotsize                 float64
HEC                        int64
TotalWeightperhectare    float64
TotalTuberperHectare     float64
dtype: object

In [22]:
cassava.columns

Index(['Sesn', 'locn', 'block', 'rep', 'tillage', 'ferT', 'Plants_harvested',
       'No_bigtubers', 'Weigh_bigtubers', 'No_mediumtubers',
       'Weight_mediumtubers', 'No_smalltubers', 'Weight_smalltubers',
       'Totaltuberno', 'AV_tubers_Plant', 'Total_tubweight', 'plotsize', 'HEC',
       'TotalWeightperhectare', 'TotalTuberperHectare'],
      dtype='object')

In [ ]:
#Alternatively
# Identify variables by their data types
categorical_columns = []
continuous_columns = []

for column in cassava.columns:
    if cassava[column].dtype == object or len(cassava[column].unique()) <= 7:
        categorical_columns.append(column)
    else:
        continuous_columns.append(column)

# Display the categorization
print("Categorical Columns:")
print(categorical_columns)
print("\nContinuous Columns:")
print(continuous_columns)

In [18]:
#Rename variables if needed
#For instance our vairbale "tillage " has a space after 
cassava2=cassava.rename(columns={'tillage ': 'tillage'}, inplace=True)

In [ ]:
#Add variables if needed
#E.g. a variable of
cassava3 = cassava2.assign("new variable name" = cassava2."existent variable" * 10)

**ii) Subset the  numeric and categorical variables**

In [20]:
#Subset the object variables 
cassava2_cat = cassava[["Sesn","locn","rep","tillage","ferT"]]
cassava2_cat

    Sesn locn tillage   ferT
0      2    1    conv  F2150
1      2    1    conv  F1100
2      2    1    conv  F3200
3      2    1    conv  F5300
4      2    1    conv  F4250
..   ...  ...     ...    ...
110    2    2    conv  F1100
111    2    2    conv  F5300
112    2    2    conv  F2150
113    2    2    conv  F4250
114    2    2    conv  F3200

[115 rows x 4 columns]

In [23]:
#Subset the numeric variables 
cassava2_cont = cassava[["block", "Plants_harvested",
       "No_bigtubers", "Weigh_bigtubers", "No_mediumtubers",
       "Weight_mediumtubers", "No_smalltubers", "Weight_smalltubers",
       "Totaltuberno", "AV_tubers_Plant", "Total_tubweight", "plotsize", "HEC",
       "TotalWeightperhectare", "TotalTuberperHectare"]]
cassava2_cont

,block,rep,Plants_harvested,No_bigtubers,Weigh_bigtubers,No_mediumtubers,Weight_mediumtubers,No_smalltubers,Weight_smalltubers,Totaltuberno,AV_tubers_Plant,Total_tubweight,plotsize,HEC,TotalWeightperhectare,TotalTuberperHectare
0,1,1,28,0,0.0,61,2.5,319,4.7,380,13.571429,7.2,5.3,10000,13584.905660,716981.132075
1,1,1,28,0,0.0,110,4.6,260,4.0,370,13.214286,8.6,5.3,10000,16226.415094,698113.207547
2,1,1,28,2,0.2,115,5.2,319,4.4,436,15.571429,9.8,5.3,10000,18490.566038,822641.509434
3,1,1,28,6,0.7,60,2.7,303,4.8,369,13.178571,8.2,5.3,10000,15471.698113,696226.415094
4,1,1,28,3,0.3,82,3.4,332,4.7,417,14.892857,8.4,5.3,10000,15849.056604,786792.452830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,3,3,19,0,0.0,33,1.0,220,2.1,253,13.315789,3.1,4.2,10000,7380.952381,602380.952381
111,3,3,16,0,0.0,22,1.0,204,1.9,226,14.125000,2.9,4.2,10000,6904.761905,538095.238095
112,3,3,13,0,0.0,8,0.4,52,1.2,60,4.615385,1.6,4.2,10000,3809.523810,142857.142857
113,3,3,20,0,0.0,42,1.9,91,1.8,133,6.650000,3.7,4.2,10000,8809.523810,316666.666667
114,3,3,19,0,0.0,47,2.5,202,2.0,249,13.105263,4.5,4.2,10000,10714.285714,592857.142857

**ii)Descriptive statistics of variables**

In [24]:
cassava2_cont.describe()

,block,rep,Plants_harvested,No_bigtubers,Weigh_bigtubers,No_mediumtubers,Weight_mediumtubers,No_smalltubers,Weight_smalltubers,Totaltuberno,AV_tubers_Plant,Total_tubweight,plotsize,HEC,TotalWeightperhectare,TotalTuberperHectare
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.0,115.000000,115.000000
mean,2.043478,2.043478,18.565217,4.000000,0.614783,49.521739,2.771304,146.252174,2.511304,199.773913,10.525355,5.897391,4.486957,10000.0,13094.339623,431822.336810
std,0.809931,0.809931,6.442908,7.367544,1.174678,29.920757,1.774911,87.351663,1.303354,102.555168,3.248495,3.040702,0.485134,0.0,6896.716668,184839.313619
min,1.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,37.000000,0.500000,57.000000,3.800000,1.000000,4.200000,10000.0,2380.952381,135714.285714
25%,1.000000,1.000000,14.000000,0.000000,0.000000,26.500000,1.300000,84.000000,1.500000,115.500000,8.027778,3.400000,4.200000,10000.0,8095.238095,275000.000000
50%,2.000000,2.000000,18.000000,0.000000,0.000000,44.000000,2.500000,109.000000,2.100000,179.000000,10.666667,6.000000,4.200000,10000.0,11904.761905,419047.619048
75%,3.000000,3.000000,28.000000,5.500000,0.700000,65.500000,3.950000,221.000000,3.600000,273.500000,12.973684,8.150000,5.300000,10000.0,16421.832884,589285.714286
max,3.000000,3.000000,28.000000,41.000000,7.000000,126.000000,8.100000,376.000000,5.400000,443.000000,19.200000,14.100000,5.300000,10000.0,33571.428571,835849.056604

In [ ]:
#If data ins't subsetted, get descriptive stats this way
cassava2.describe(include=object)

In [25]:
cassava2_cat.describe()

        Sesn  locn tillage   ferT
count    115   115     115    115
unique     2     2       2      5
top        2     2    conv  F2150
freq      60    60      60     23

Based on the descriptive statistics, there are some odd variables that show non-gaussian distribution

1. No_bigtubers has a min, median of zero which is impossible. Needs transformation

2. Weigh_bigtubers: similar situation

3. No_mediumtubers has a min of zero which is also impossible

4. Weight_mediumtubers: similar situation to above